.layout-example .header, .layout-example .footer {
    background: #7fdde9;
}
.layout-example .sidebar {
    border-right: 2px solid #7fdde9;
}
.layout-example .sidebar, .layout-example .content {
    background: #efe;
}
.layout-example .footer {
    border-radius: 0 0 .5em .5em;
}

.bg1, .bg2, .bg0 {
    font-size: 11px;
    height: 50px;
}
.bg1 {
    background: var(--primary);
}
.bg2 {
    background: #eb008b;
}
.bg1 *, .bg2 * {
    color: #fff;
}

ul li b, ul li {
    font-family: monaco, monospace!important;
}
ul li b {
    margin-right: 1em;
}
.bgcode {
    font-family: monaco, monospace!important;
    font-size: .8rem;
    color: #555;
    border: 1px solid #ccc;
    background: #ddd;
}
.browser {
    height: 250px;
}

.browser-top {
    display: grid;
    grid-template-columns: auto 15px 15px;
    background: #eee;
    border-radius: .5em .5em 0 0;
    font-family: arial;
    font-size: .7em;
    border-bottom: 2px solid #bbb;
    margin-bottom: -0.8rem;
}

.browser-top div {
    align-self: center;
}

.browser-top div:nth-child(1) {
    color: #777;
    font-size: .8em;
    padding: .6em 3em;
}

.browser-top div:nth-child(3) {
    font-size: .9em;
    color: #f74f4f;
}

.contentList {
    padding: 2em;
}

@media (max-width: 767px){
    .contentList {
        height: auto;
        position: relative;
        top: 0;
    }
}

.contentList ul {
    padding: 0;
}

.contentList li {
    list-style-type: none;
    margin: .8em 0;
    font-size: 1rem;
    padding: 0;
}

.inProgress {
    padding: .3em 5em;
    position: fixed;
    background: rgba(255, 220, 70, .8);
    top: 25px;
    right: -5em;
    transform: rotate(30deg);
}

.custom-background {
    background-color: var(--primary);
}

.custom-background * {
    color: #fff;
}

.custom-border {
    border-color: var(--primary);
}

